@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.App{
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar{
  height: 12px;
  width: 12px;
  }
  
  ::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-thumb{
  background: #00df9a;
  border-radius: 1ex;
  }

